<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <!-- <script src="../public/javascripts/loginService.js"></script> -->
</head>

<body>
    <header>
        {{> header}} <hr>
    </header>
    <main>
        <h1>Login</h1>
        <form>
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome"><br>
            <label for="senha">Senha:</label><br>
            <input type="password" id="senha"><br>
            <p><input type="button" value="Entrar" onclick="login()"></p>

            <script>
                async function login(){
                    const nome = document.getElementById('nome').value;
                    const senha = document.getElementById('senha').value;

                    const data = {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({ nome: nome, senha: senha })
                    }

                    const response = await fetch('/oapi/login', data);
                    if(response.status == 200){
                        window.location.href = "/api/loja";
                        console.log('teste');
                    }
                }
                </script>
        </form>
    </main>
</body>

</html>